* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    text-align: center;
    background-color: rgb(20, 20, 20);
    overflow: hidden;
}

.color-black{
    --background-color: black;
    --text-color: white;
}
.color-blue{
    --background-color: blue;
    --text-color: white;
}
.color-brown{
    --background-color: brown;
    --text-color: white;
}
.color-gray{
    --background-color: gray;
    --text-color: white;
}
.color-green{
    --background-color: green;
    --text-color: white;
}
.color-pink{
    --background-color: pink;
    --text-color: black;
}
.color-purple{
    --background-color: purple;
    --text-color: white;
}
.color-red{
    --background-color: red;
    --text-color: white;
}
.color-white{
    --background-color: white;
    --text-color: black;
}
.color-yellow{
    --background-color: yellow;
    --text-color: black;
}

.container > div {
    justify-content: flex-start;
}

.btn-pokemon {
    border: 0;
    background: transparent;
    transition: transform 80ms ease;
}

.btn-pokemon:hover {
    --scale-transform: 0.95;
    transform: scale(var(--scale-transform));
}

.btn-map {
    border: 0;
    background: transparent;
    padding: 5px;
    transition: transform 80ms ease;
    text-transform: capitalize;
    color: var(--text-color);
    font-size: 75%;
}

.btn-map:hover {
    --scale-transform: 0.95;
    transform: scale(var(--scale-transform));
}

.type {
    display: flex;
    background-color: var(--type-background-color);
    border-radius: 20px; 
    color: white;
    width: 70px;
    height: 50%;
    align-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
}

.type-normal {
    --type-background-color: #A8A878; 
    border: 1px solid #682A68;
}

.type-fire {
    --type-background-color: #F08030;
    border: 1px solid #682A68;
}

.type-fighting {
    --type-background-color: #C03028;
    border: 1px solid #682A68;
}

.type-water {
    --type-background-color: #6890F0;
    border: 1px solid #682A68;
}

.type-flying {
    --type-background-color: #A890F0;
    border: 1px solid #682A68;
}

.type-grass {
    --type-background-color: #78C850;
    border: 1px solid #682A68;
}

.type-poison {
    --type-background-color: #A040A0;
    border: 1px solid #682A68;
}

.type-electric {
    --type-background-color: #F8D030;
    border: 1px solid #682A68;
}

.type-ground {
    --type-background-color: #E0C068;
    border: 1px solid #682A68;
}

.type-psychic {
    --type-background-color: #F85888;
    border: 1px solid #682A68;
}

.type-rock {
    --type-background-color: #B8A038;
    border: 1px solid #682A68;
}

.type-ice {
    --type-background-color: #98D8D8;
    border: 1px solid #682A68;
}

.type-bug {
    --type-background-color: #A8B820;
    border: 1px solid #682A68;
}

.type-dragon {
    --type-background-color: #7038F8;
    border: 1px solid #682A68;
}

.type-ghost {
    --type-background-color: #705898;
    border: 1px solid #682A68;
}

.type-dark {
    --type-background-color: #705848;
    border: 1px solid #682A68;
}

.type-steel {
    --type-background-color: #B8B8D0;
    border: 1px solid #682A68;
}

.type-fairy {
    --type-background-color: #EE99AC;
    border: 1px solid #682A68;
}

.type-unkown {
    --type-background-color: #68A090;
    border: 1px solid #682A68;
}

.type-shadow {
    --type-background-color: #443d37;
    border: 1px solid #682A68;
}

.pokemon-mini {
    display: flex;
    width: 100%;
    align-items: center;
}

.pokemon-mini > span {
    text-align: left;
    display: block;
    width: 100%;
}

.pokemon-mini > div{
    display: inline;
    height: 9vh;
    min-width: 50%;
    text-align: center;
}

.pokemon-mini > div > img {
    height: 100%;
    width: auto;
}

.habitat-cave{
    --img-background: url("./img/habitat-cave.png")
}
.habitat-forest{
    --img-background: url("./img/habitat-forest.png")
}
.habitat-grassland{
    --img-background: url("./img/habitat-grassland.png")
}
.habitat-mountain{
    --img-background: url("./img/habitat-mountain.png")
}
.habitat-rare{
    --img-background: url("./img/habitat-rare.png")
}
.habitat-rough-terrain{
    --img-background: url("./img/habitat-rough-terrain.png")
}
.habitat-sea{
    --img-background: url("./img/habitat-sea.png")
}
.habitat-urban{
    --img-background: url("./img/habitat-urban.png")
}
.habitat-waters-edge{
    --img-background: url("./img/habitat-waters-edge.png")
}

#container {
    text-align: center;
    position: relative;
    width: 90vw;
    max-width: 1690px;
    height: 50vw;
    max-height: 1000px;
    background-image: url("./img/styling.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    padding: 4% 4% 3% 4%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    text-transform: capitalize;
    background-color: var(--background-color);
}

#col1{
    display: flex;
    width: 15vw;
    height: 90%;
    border: 0;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: stretch;
    color: var(--text-color);
    font-size: 75%;
}

#col2{
    display: grid;
    width: 34vw;
    height: 90%;
    border: 0;
    grid-template-rows: 1fr 6fr 2fr;
    align-items: stretch;
    justify-content: space-around;
    color: var(--text-color);
    font-size: 75%;
}

#pokemonType {
    display: flex;
    align-items: center;
    font-weight: bold;
}

#pokemonImage {
    image-rendering: pixelated;
    height: 60%;
    width: auto;
    background-image: var(--img-background);
}

#col3{
    display: grid;
    width: 19vw;
    height: 90%;
    grid-template-rows: 1fr 3fr 1fr 4fr;
    align-items: center;
    justify-items: start;
    justify-content: center;
    color: var(--text-color);
    font-size: 75%;
}

#pokemonData {
    display: flex;
    align-items: center;
}

#pokemonDescription {
    text-transform: none;
    width: 100%;
}

#col3 > div:last-child {
    border: 30px;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow-y: auto;
}

#mapPopup {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid gray;
    padding: 15px;
    background: white;
    border-radius: 5px;
    transition: opacity 120ms ease, transform 240ms ease;
}

#mapPopup span {
    font-weight: bold;
}

#mapPopup[hidden] {
    visibility: visible;
    display: block;
    opacity: 0;
    transform: translateY(20px);
}

#mapPopup:not(*[hidden]) {
    opacity: 1;
    transform: translateX(0);
}