* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    text-align: center;
    background-color: rgb(20, 20, 20);
    color: red;
    overflow: hidden;
}
img {
    height: 80%;
}

.container {
    text-align: center;
    position: relative;
    width: 90vw;
    max-width: 1690px;
    height: 50vw;
    max-height: 100vh;
    background-image: url("./img/styling_cropped_grided_final.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    padding: 4% 4% 3% 4%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
}

.btn {
    border: 0;
    background: transparent;
}

.btn:hover {
    --scale-transform: 0.95;
    transform: scale(var(--scale-transform));
}

.container > div {
    justify-content: flex-start;
}

#col1{
    flex-shrink: 2;
    display: flex;
    width: 100%;
    height: 90%;
    border: 0;
    flex-direction: column;   
    align-content: space-between;
    justify-content: flex-start;
    flex-wrap: nowrap;
    text-align: center;
}

#col2{
    flex-grow: 1.5;
    display: grid;
    width: 100%;
    height: 90%;
    border: 0;
    grid-template-rows: 1fr 6fr 2fr;
    align-items: stretch;
    justify-content: space-around;
}

#pokemonImage {
    image-rendering: pixelated;
    height: 90%;
}

#col3{
    flex-shrink: 1.2;
    display: grid;
    width: 100%;
    height: 90%;
    grid-template-rows: 1fr 3fr 1fr 4fr;
    align-items: stretch;
}
#pokemonData {
    color: red;
}
#pokemonName {
    text-transform: capitalize;
}